# Numerous always-ignore extensions
*.tmp
*.diff
*.err
*.log
*.swo
*.swp
*.zip
*.vi
*~
*.sass-cache

!.gitignore
!.mailmap

patches-*
.svn
.CVS
.idea
dist/
*.bin
cscope.*
ncscope.*

.DS_Store
._*
Thumbs.db
.cache
.tmproj

node_modules/

tmp/*
